.landing-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-icon {
  position: fixed;
  z-index: -1;
  width: 50vw;
  height: auto;
}

.landing-cat {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 80vw;
  padding: 100px;
  margin: 100px 0 80px 0;
  box-shadow: 0px 0px 10px #888888;
  background-color: white;
  height: 200px;
}

.landing-cat-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}
.landing-cat-list > li {
  margin: 20px
}

.landing-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 80vw;
  padding: 100px;
  margin: 10px 0 80px 0;
  box-shadow: 0px 0px 10px #888888;
  background-color: white;
}

.all-block {
  display: flex;
  flex-direction: row;
  border-radius: 10px 0 0 10px;
  width: 100px;
  align-items: center;
  justify-content: center;
  margin: 10px 20px;
  text-decoration: none; 
  box-shadow: 0px 0px 10px #888888;
  background-color: white;
}

.landing-articles {
  display: flex;
  flex-direction: column;
  width: 80vw;
  box-shadow: 0px 0px 10px #888888;
  background-color: white;
}