.profile-section {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
  overflow: auto;
  scroll-behavior: smooth;
  margin: 20px;
  border-radius: 10px;
}

.user-img {
  height: 150px;
  width: auto;
  margin: 0;
}

.user-info-block {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 80vw;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
}