aside {
  border-bottom: 1px solid blue;
  border-right: 1px solid blue;
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 75px;
  background-color: beige;
  border-radius: 0 0 10px 0;
}

.tabs {
  background-color: beige;
}

.category-tab {
  margin: auto auto;
}


