.carousel {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 60vh;
  overflow: hidden;
  position: relative;
  margin: 50px 0;
}

.carousel-imgs {
  position: absolute;
  z-index: 0;
  margin: auto; 
  height: auto;
  width: auto;
  top: -100px
}

#img-1 {
  display: none;
}

#img-2 {
  display: none;
}

#img-3 {
  display: block;
}